<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strava Further</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <h1>Welcome to Strava Further</h1>
        <a href="{{ url_for('dashboard') }}">Go to Dashboard App</a>
    </div>
    <div class="footer">
        <p>Built by: Antonio Pelayo</p>
        <p>
            <a href="https://github.com/AntonioPelayo/my_strava_dashboard" target="_blank">Project GitHub</a>
        </p>
    </div>
</body>
</html>